.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.container.search {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    background-color: lightsalmon;
    min-width: 200px;
}

.container.view {
    display: flex;
    flex: 3;
    flex-flow: row wrap;
    background-color: lightgray;
    overflow: hidden scroll;
}

.container.load {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: lightsalmon;
}